In [191]:
import pandas as pd
import numpy as np
import matplotlib
import sklearn as sk
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
import random

In [6]:
data=pd.read_csv("C:\Users\Abhishek\Desktop\INFX 575\globalterrorismdb_0616dist.csv")

C:\Users\Abhishek\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,61,62,66,116,117,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
data.describe()
list(data.columns.values)

C:\Users\Abhishek\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'ingroup',
 'ingroup2',
 'ingroup3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [8]:
a=data[['country_txt','iyear']]
a

                     country_txt  iyear
0             Dominican Republic   1970
1                         Mexico   1970
2                    Philippines   1970
3                         Greece   1970
4                          Japan   1970
5                  United States   1970
6                        Uruguay   1970
7                  United States   1970
8                  United States   1970
9                  United States   1970
10                 United States   1970
11                 United States   1970
12                         Italy   1970
13                 United States   1970
14                 United States   1970
15            East Germany (GDR)   1970
16                      Ethiopia   1970
17                 United States   1970
18                 United States   1970
19                 United States   1970
20                 United States   1970
21                       Uruguay   1970
22                 United States   1970
23                 United States   1970
24                 United States   1970
25                     Guatemala   1970
26                   Philippines   1970
27                     Venezuela   1970
28                 United States   1970
29                 United States   1970
...                          ...    ...
156742                      Iraq   2015
156743                      Iraq   2015
156744                      Iraq   2015
156745                      Iraq   2015
156746                     Yemen   2015
156747                     Yemen   2015
156748                     Yemen   2015
156749                     Yemen   2015
156750              Saudi Arabia   2015
156751                     Egypt   2015
156752              Saudi Arabia   2015
156753  West Bank and Gaza Strip   2015
156754                    Turkey   2015
156755                   Ukraine   2015
156756                     India   2015
156757                   Germany   2015
156758                  Ethiopia   2015
156759               Philippines   2015
156760               Afghanistan   2015
156761               Philippines   2015
156762               Philippines   2015
156763                      Iraq   2015
156764                  Pakistan   2015
156765                  Pakistan   2015
156766                  Pakistan   2015
156767                   Burundi   2015
156768                   Ireland   2015
156769               Philippines   2015
156770                   Somalia   2015
156771                     Libya   2015

[156772 rows x 2 columns]

                     country_txt
0             Dominican Republic
1                         Mexico
2                    Philippines
3                         Greece
4                          Japan
5                  United States
6                        Uruguay
7                  United States
8                  United States
9                  United States
10                 United States
11                 United States
12                         Italy
13                 United States
14                 United States
15            East Germany (GDR)
16                      Ethiopia
17                 United States
18                 United States
19                 United States
20                 United States
21                       Uruguay
22                 United States
23                 United States
24                 United States
25                     Guatemala
26                   Philippines
27                     Venezuela
28                 United States
29                 United States
...                          ...
156742                      Iraq
156743                      Iraq
156744                      Iraq
156745                      Iraq
156746                     Yemen
156747                     Yemen
156748                     Yemen
156749                     Yemen
156750              Saudi Arabia
156751                     Egypt
156752              Saudi Arabia
156753  West Bank and Gaza Strip
156754                    Turkey
156755                   Ukraine
156756                     India
156757                   Germany
156758                  Ethiopia
156759               Philippines
156760               Afghanistan
156761               Philippines
156762               Philippines
156763                      Iraq
156764                  Pakistan
156765                  Pakistan
156766                  Pakistan
156767                   Burundi
156768                   Ireland
156769               Philippines
156770                   Somalia
156771                     Libya

[156772 rows x 1 columns]

In [9]:
count=a['country_txt'].value_counts()
countb=a['iyear'].value_counts()
countb
np.max(a['iyear'])

2015

In [10]:
group = data[data.doubtterr != 1]
group = group[group.doubtterr!=-9]

In [11]:
dfs = [rows for _, rows in group.groupby('region_txt')]
len(dfs)

12

In [204]:
a=dfs[8]
b=a['gname'].value_counts()
b=pd.DataFrame(b)
b.reset_index(level=0, inplace=True)
ter=b['index']
ter=list(ter[1:5])

In [205]:
c=a.shape[0]
temp=list(a.gname)
for i in range(len(temp)):
    if temp[i] not in ter:
        temp[i]='Other'
gname=pd.Series(temp)
a['gname']=gname.values
a['gname'].value_counts()
ab=a[a.nkill.notnull()]
ab=ab[ab.natlty1.notnull()]
ab=ab[ab.nwound.notnull()]
ab=ab[ab.weapsubtype1.notnull()]
ab=ab[ab.nperps.notnull()]
ab=ab[ab.guncertain1.notnull()]
ab=ab[ab.nperpcap.notnull()]
ab.extended.isnull().sum()

0

In [206]:
df=ab[['nkill','attacktype1','weaptype1','natlty1','weapsubtype1','nwound','nperps','targtype1','success','suicide','multiple','country','guncertain1','nperpcap','ishostkid']]
#Auto encodes any dataframe column of type category or object.
from sklearn.preprocessing import LabelEncoder

def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df
random.seed(1)    
y=ab.gname
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [207]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [208]:
pred=clf.predict(X_val)
pred
pd.crosstab(y_val, pred, rownames=['Actual'], colnames=['Predicted'])

Predicted,Communist Party of India - Maoist (CPI-Maoist),Liberation Tigers of Tamil Eelam (LTTE),Other,Taliban
Actual,,,,
Communist Party of India - Maoist (CPI-Maoist),172,0,83,0
Liberation Tigers of Tamil Eelam (LTTE),0,51,8,0
Other,34,7,2343,154
Taliban,1,0,155,364

In [209]:
len(y_val)

3372